.chat-window {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: #ece5dd;
}

.chat-header {
    display: flex;
    align-items: center;    
    background: white;
    padding: 10px;
       
}
.back-btn{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #075e54;
}
.chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background: #ece5dd;
    display: flex;
    flex-direction: column;
}

.message-bubble {
    max-width: 55%;
    padding: 6px 12px;
    margin-bottom: 8px;
    border-radius: 7px;
    word-wrap: break-word;
    position: relative;
}

.sent {
    align-self: flex-end;
}

.received {
    align-self: flex-end;
    background: #aaebb0;
}

.message-meta {
    font-size: 11px;
    color: gray;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 4px;
}

.tick {
    margin-left: 4px;
    font-size: 13px;
}

/* WhatsApp-like tick colors */
.tick.sent {
    color: gray;
    /* single tick */
}

.tick.delivered {
    color: gray;
    /* double ticks gray */
}

.tick.read {
    color: #34b7f1;
    /* WhatsApp blue */
}

.chat-input {
    display: flex;
    border-top: 1px solid #ddd;
    background: white;
    padding: 8px;
}

.chat-input input {
    flex: 1;
    border: none;
    padding: 8px;
    outline: none;
}

.chat-input button {
    background: #075e54;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-left: 5px;
    cursor: pointer;
}